body
{
 font-family:  'Times New Roman', Times, serif; 
 background-color: #442604;
 color: bisque;
}
h1{text-align: center ;}
p{font-size: large;}
p#greeting{text-align:center;}
p#day{text-align: center;}
button{
  width: 15%;
  background-color:transparent;
  color: white;
  padding: 14px 20px;
  margin: 10px 550px;
  border: solid white 1px;
  border-radius: 4px;
  cursor: pointer;
}
div#home 
{
 color: bisque;
 background-image: url("background.jpg");
 background-size: 40cm 15cm;
 background-repeat: no-repeat;
}
div#end
{
 color: bisque;
 background-image: url("Background2.jpg");
 background-size: 40cm 15cm;
 background-repeat: no-repeat;
}

div.gallery 
{
 margin: 5px;
 border: 1px solid #ccc;
 float: left;
 width: 180px;
}
div.gallery:hover
{
 border: 1px solid #777;
}
  
div.gallery img 
{
 width: 100%;
 height: auto;
}
input[type=text], select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
  input[type=submit] {
    width: 15%;
    background-color: #7e6447;
    color: white;
    padding: 14px 20px;
    margin: 8px 550px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  